@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieReviewSite.Core.Models.Password.ViewModels.ChangeUserPasswordViewModel

@{
    Layout = "_Layout";
}

<h2> Change Password:</h2>

@using (Html.BeginForm("ChangePasswordByUserId", "Password", FormMethod.Post, new {id = "submitForm"}))
{
    <div>
        <label for="CurrentPassword">Enter Current Password:</label>
        <input placeholder="Current Password" type="password" id="CurrentPassword" asp-for="@Model.DTO!.CurrentPassword" class="form-control"/>
        <input id="1" class="form-check-label" type="checkbox" onclick="showForCurrentPassword()">
        <label style="color: darkgray;font-size: smaller" class="form-check-label" for="1">Show Password</label>
    </div>
    <br>

    <div>
        <label for="NewPassword">Enter New Password:</label>
        <input placeholder="New Password" type="password" id="NewPassword" asp-for="@Model.DTO!.NewPassword" class="form-control"/>
        <input id="2" class="form-check-label" type="checkbox" onclick="showForNewPassword()">
        <label style="color: darkgray;font-size: smaller" class="form-check-label" for="2">Show Password</label>
    </div>
    <br>

    <div>
        <label for="RepeatedPassword">Repeat New Password:</label>
        <input placeholder="Repeat New Password" type="password" id="c" class="form-control"/>
    </div>
    <br>

    <input type="hidden" value="@Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier))" id="userId">
    <input type="hidden" id="Password" value="@Model.Password!.Password">
    <button style="background-color: #1e7316" type="submit" class="btn btn-primary">Apply Changes</button>
}



@section Scripts
{
    <script src="~/js/Password/ChangePassword.js"></script>
}
